<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD //EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hw</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.show_sql">true</property>

        <property name="connection.username">JavaDev</property>
        <property name="connection.password">1ms5:pass</property>


        <mapping class="ua.goit.model.Company"/>
        <mapping class="ua.goit.model.Customer"/>
        <mapping class="ua.goit.model.Developer"/>
        <mapping class="ua.goit.model.Project"/>
        <mapping class="ua.goit.model.Skills"/>
    </session-factory>
</hibernate-configuration>
